@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(5, 248, 167);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }  
}
nav {
  display: flex;
  width: 600px;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
h3{
  font-size: 30px;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
ul {
  margin-block-start: 0px;
  padding-inline-start: 0px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  margin-bottom: 15px;
}
.intro {
  max-width: 600px;
}
.climblist {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;  
}
.climblist1 {
  width: 150px;
}
.climbForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;

}